
html, body{
  height: 100%;
}
body { 
        margin: 0;
        padding: 0;
      /*responsive fullscreen bg */
			background-image: url(../img/header-bg.jpg);
			background-position: right center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
  
}

div, body{
  font-family: "Open Sans", Arial, sans-serif;
  
}

/* navbar styling */
.fixednavbar{ /* LOGO FIX ON LEFT SIDE - THE TOP NAV BAR*/
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 1em;
  z-index: 1;
}


.img-logo { /* When the screen is small, have the logo centered and above the navigation */
  display:block;
  margin:0 auto;
  padding:1em 0;
  max-height:6em;
  width:auto;
  opacity:1;
}

.img-logo:hover, .img-logo:focus { /* When the screen is small, have the logo centered and above the navigation */
  opacity:0.5;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

nav ul { /* Align the navigation items to the center when the screen is small */
  width:100%;
  padding: 0;
  text-align:center;
}

nav ul li {
  list-style-type:none;
  display:inline-block; /* Navigation items are side-by-side with a larger screen size */
}

.button {
  color: #000;
  text-decoration: none; 
  display: inline-block;
  outline: 0 !important;
  text-transform: uppercase;
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.navlink {
  font-size: 1em;
/*  border: 2px solid #999;*/
  padding: 10px 10px;
  height: 25px;
}

.navlink:hover {
/*  background-color: #999;*/
  color: #FFF;
  text-decoration: underline;
}

.menu {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  visibility: hidden;
}

/*navbar media query */
@media (max-width: 750px) {
  .nav-mobile-hidden {
    padding: 0;
    visibility: hidden;
    position: absolute;
    top: 3em;
    left: -2em;

    opacity:0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
  }

  .nav-mobile-hidden li {
    display: block;
    text-align: left;
  }
  .nav-mobile-hidden a {
    width: 200px;
    background-color: #000;
    color: #fff;
  }
  .menu {
    visibility: visible;
  }

  .menu:hover + .nav-mobile-hidden, .nav-mobile-hidden:hover {
    visibility: visible;
    opacity:1;
    transition-delay:0s;
  }

}

/*end nav styling*/

h1 {
  margin-bottom: 5px;
}

p {
  margin-top: 5px;
}

.wrapper {
  height: 100%; 
  width: 100%; 
}

.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; 
  height:25%;
  bottom: 0; 
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding-top: 10px;
  padding-left: 10%;
}

/*homepage content */

.home-button {
  text-decoration: none;
  background-color: #802828;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 1em;
  display: inline-block;

  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.home-button:hover {
  opacity: .8;
}



/* grid structure */
.grid-container:after { /* Clears the floats after a grid row */
  content: "";
  display: table;
  clear: both;
}


@media (min-width:50em) { /* Media queries which take place once the screen is 50em or larger */

  .grid-container { /* Regular grids used for layout grids (flexbox reserved for other kinds of scaling info) */
    margin-left:-1em;
    margin-right:-1em;
  }

  .col-1of3 {
    width:33.33%; /* At a certain screen size, make the columns 33% and 66% */
  }

  .col-2of3 {
    width:66.66%;
  }

  .col-1of2 {
    width:50%;
  }

  [class*='col-'] { /* Remove outside margins */
    padding:0 1em;
    float:left;
  }

  .more-below-small {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
