
html, body{
  height: 100%;
}

body { 
  margin: 0;
  padding: 0;
}

div, body{
  font-family: "Open Sans", Arial, sans-serif;
  
}

.fullscreen-bg { /* responsive fullscreen background image */
  height: 100%;
  background-image: url(../img/header-bg.jpg);
  background-position: right center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}

.bg { /*dark background for other pages */
  height: 100%;
  width: 100%;
  background-color: #202020;
  overflow: auto;
}


.banner {
  width:100%;
  max-height: 400px;
  display: block;
  margin: 0 auto;
}

.wrapper {
  margin-bottom: -50px; /* room for footer */
  height: 100%; 
  width: 100%; 
}

.product-wrapper {
  margin: 0 5%;
}

footer, .wrapper:after {
  height: 50px; 
}

/* footer */

footer {
  background-color: #3f3f3f;
  color: #fff;
  font-size: .8em;
  text-align: center;
  padding-top: 10px
}


/* NAVBAR STYLING */

.fixednavbar{ 
/*  position: fixed;*/
  width: 100%;
  height: 100px;
  margin-top: -1em;
  margin-bottom: 1em;
  z-index: 1;
  background-color: white;
}


.img-logo { /* left-aligned logo */
  display:block;
  float: left;
  margin:0 auto;
  padding:2em 3em;
  max-height: 50px;
  width:auto;
  opacity:1;
}

.img-logo:hover, .img-logo:focus { 
  opacity:0.5;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

nav ul { /* links aligned right */
  width:100%;
  padding: 0;
  text-align:right;
}

nav ul li {
  list-style-type:none;
  display:inline-block; 
}

nav ul li:last-child { 
  margin-right: 1.5em;
}

.button {
  color: #000;
  text-decoration: none; 
  display: inline-block;
  outline: 0 !important;
  text-transform: uppercase;
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.navlink {
  font-size: 1em;
  padding: 10px 20px;
  height: 25px;
}

.navlink:hover {
  color: #B05F63;
  text-decoration: underline;
}

.menu { /*hamburger menu icon hidden on larger screens */
  position: absolute;
  top: 30px;
  right: 20px;
  width: 40px;
  height: 40px;
  visibility: hidden;
}

.nav-icon { /* cart and login icons */
  padding-left: 2em;
  padding-right: 1.5em;
}

.icon {
  margin-top: 1em;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.icon:hover {
  opacity: .7;
}

/*navbar media query */

@media screen and (max-width: 1150px) {
  .nav-mobile-hidden {
    padding: 0;
    visibility: hidden;
    position: absolute;
    top: 5em;

    opacity:0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
  }

  .nav-mobile-hidden li {
    display: block;
    text-align: right;
  }

  nav ul li:last-child {
  margin-right: 0;
  }

  .nav-mobile-hidden a {
    width: 200px;
    background-color: #fff;
    color: #000;
    text-align: center;

    -webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out;
  }

  .nav-mobile-hidden a:hover {
    background-color: #e7e7e7;
  }

  .nav-icon {
    padding: 10px 20px;
  }

  .icon {
    margin: 0;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
  }

  .menu {
    visibility: visible;
  }

  .menu:hover + .nav-mobile-hidden, .nav-mobile-hidden:hover {
    visibility: visible;
    opacity:1;
    transition-delay:0s;
  }

}

/*end nav styling*/


/*homepage content */

.home-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; 
  height: 200px;
  bottom: 10em; 
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding-top: 10px;
  padding-left: 10%;
}

.home-button {
  text-decoration: none;
  background-color: #802828;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 1em;
  display: inline-block;

  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.home-button:hover {
  opacity: .8;
}

/* checkout elements */

.cart {
  padding: 0 2em;
  width: 90%;
}

.cart h1 {
  color: #fff;
}

.cart figure {
  display: inline-block;
  float: left;
}

.cart-item {
  padding: 10px;
  background-color: #fff;
  margin-bottom: 2em;
  border-radius: 10px;
}

.cart-item img {
  height: auto;
  max-width: 200px;
}

.cart-total {
  padding: 5em 2em 0 2em;
  width: 90%;
}

.total-list ul {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  list-style: none;
}

.total-list li {
  padding: 0 10px;
}

.total-list li:not(:last-child) {
  border-bottom: 1px solid #8e8e8e;
}

#shipping-info {
  padding: 0 2em;
  width: 90%;
}

#shipping-info h1 {
  color: #fff;
}

.checkout-form {
  background-color: rgba(72,72,72,0.4);
  border-radius: 10px;
  width: 100%;
  float: left;
  padding: 1em;
}

.feedback-input {
  color: #000;
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
}

.form-left {
  float: left;
  width: 50%;w
  padding-right: 5px;
  margin-top: 0;
  margin-bottom: 10px;
}

.form-right {
  float: right;
  width: 50%;
  margin-top: 0;
  margin-bottom: 10px;
}

.dropdown {
  width: 100%;
  padding: 10px;
  color: #2d2d2d;
}

#confirm {
  color: #fff;
  text-align: center;
  margin-top: 10em;
}

.nav-button {
  width: 90%;
  max-width: 300px;
  text-decoration: none;
  text-align: center;
  background-color: #802828;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 1em;
  margin-bottom: 2em;
  display: inline-block;

  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.nav-button:hover {
  opacity: .8;
}

.button-left {
  width: 35%;
  float: left;
  margin-right: 10px;
}

.button-right {
  width: 35%;
  float: right;
}


/* Product Listing - Eyewear */
.product-eyewear {
  display:inline-block;
  -webkit-box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.25);
  box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.25);
  -webkit-transition: box-shadow 0.5s ease-out;
  -moz-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  margin:0;
  width:100%;
}

.product-eyewear:hover{ 
  -webkit-box-shadow: 0 0 1em 0 rgba(0,0,0,1);
  -moz-box-shadow: 0 0 1em 0 rgba(0,0,0,1);
  box-shadow: 0 0 1em 0 rgba(0,0,0,1);
}

p.product-eyenamename  { 
  text-decoration: none;
  color:#353531;
  font-size:1rem;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  margin-bottom:0;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.product-eyewearinfo { 
  padding:1em;
  text-align:center;
  text-transform: uppercase;
  border-top-style:solid;
  border-color: #CCC;
  border-top-width: 0.1em;
  -webkit-transition: border-color, background-color 0.3s ease-out;
  -moz-transition: border-color, background-color 0.3s ease-out;
  transition: border-color, background-color 0.3s ease-out;
}

.product-eyewear:hover .product-eyewearinfo, .product-eyewear:focus .product-eyewearinfo { 

  border-top-style:solid;
  border-top-width: 0.1em;
  background-color: #f1c40f;
}

.product-eyewear:hover p.product-eyenamename, .product-eyewear:focus p.product-eyenamename { 
  color:#FFF;
}

/* Product Listing - Eyewear ENDS */

/* Current Product  - Eyewear  */

h1.currentproduct-eyenamename {
  font-family: 'Open+Sans', sans-serif;
  color: #7f8c8d;> 
}

p.currentproduct-price {
  color: #2c3e50;
  font-size: 1.5rem;
  font-family: 'Open+Sans', sans-serif;
}

p.currentproduct-price-line {
  color: #7f8c8d;
  font-size: 1rem;
  font-family: 'Open+Sans', sans-serif;
  font-weight: bold;
}

p.currentproduct-price-specs {
  color: #424242;
  font-size: 1rem;
  font-family: 'Open+Sans', sans-serif;
}

h1.reviewname{
  color:#c0392b;
  font-size:2rem;
  font-family: 'Open+Sans', sans-serif;
  margin:0;
  padding-top: 2rem;
}

p.reviewstars {
  color: #c0392b;
  font-size: 1rem;
  font-family: 'Open+Sans', sans-serif;
  font-weight: bold;
}

.textfield-label {
  display: block;
  font-wieght:bold;
  color:#2d2d2d;
  font-size: 1.25rem;
}

.textfield {
  border-style: solid;
  border-width: 0.125em;
  border-color:999;
  padding-left: 0.25em;
  width:100%;
  margin-bottom: 1em;
  display: block;
  font-size: 1rem;
}

textarea { /* Ensure that the textarea is big enough and that it doesn't somehow expand beyond the bounds of the screen */
  max-width:100%;
  min-height:12em;
}


/* Current Product  - Eyewear  ENDS*/



/* text elements */
h1.about {
  color:#e74c3c;
  font-size:2rem;
  text-align: center;
  font-family: 'Open+Sans', sans-serif;
  margin:0;
  padding-top: 2rem;s
}

h1.about2 {
  color:#e74c3c;
  font-size:1.5rem;
  text-align: center;
  font-family: 'Open+Sans', sans-serif;
  margin:0;
  padding-top: 2rem;s
  t
}

h1.about3 {
  color:#232838;
  text-align: center;
  font-size:1.2rem;
  font-family: 'Open+Sans', sans-serif;
  margin:0;
  padding-top: 2rem;s

}



