/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open+Sans', Arial, sans-serif;
  font-size: 100%;
  padding: 20rem 2em 2em 2em;
  color: #777; /* font colour */ 
  background-color: #FFFFFF;
}

/* THe DIV wraper for the entire page */
div.wrapper { 
  max-width:80em;
  margin:0 auto;
}

/* Create borders between each subsection */
section:not([id]) { 
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 0.1em solid #CCC;
}

/* Styling for code blocks */
section code { 
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

/* Colour Boxes <div> tags */
[class*='colour-'] { 
  width:20%;
  height:10em;
  display:inline-block;
}

.colour-lightgray {
  background-color:#999;
}

.colour-darkgray {
  background-color:#777;
}

/* Styling for the navigation button */
.fixednavbar{ /* LOGO FIX ON LEFT SIDE - THE TOP NAV BAR*/
  position: absolute;
  width: 100%;
  -webkit-box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,0.25);
  box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,0.25);
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 1em;
  z-index: 1;
}

.hidden {
  visibility: hidden;
  position: absolute;
}

.shown {
  visibility: visible;
  position: relative;
}


.img-logo { /* When the screen is small, have the logo centered and above the navigation */
  display:block;
  margin:0 auto;
  padding:1em 0;
  max-height:6em;
  width:auto;
  opacity:1;
}

.img-logo:hover, .img-logo:focus { /* When the screen is small, have the logo centered and above the navigation */
  opacity:0.5;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

nav ul { /* Align the navigation items to the center when the screen is small */
  width:100%;
  padding-right:2em;
  text-align:center;
}

nav ul li {
  list-style-type:none;
  display:inline-block; /* Navigation items are side-by-side with a larger screen size */
}

.button {
  color: #000;
  text-decoration: none; 
  display: inline-block;
  outline: 0 !important;
  text-transform: uppercase;
  font-family: ;Open+Sans', Arial, sans-serif;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.navlink {
  font-size: 1em;
  border: 2px solid #999;
  padding: 10px 20px;
  height: 40px;
}

.checkout {
  color: #E62739;
}

.navlink:hover {
  background-color: #999;
  color: #FFF;
}



/* TEXT ELEMENTS */

section.h1 {
  color:#0DB3BC;
  font-size:5rem;
  font-family: 'Open+Sans', sans-serif;
  margin:0;
  padding-top: 1rem;s
}

p.subheading { /* Styling specifically for the paragraph text that shows up right beneath <h1> tags */
  font-size:1.2rem;
}

/*Grid System*/

.grid-container:after { /* Clears the floats after a grid row */
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] { /* By default (mobile-first) columns are stacked */
  margin:1em 0;
}

.more-below, .more-below-small { /* Class to be used if there's more content below (more-below-small only shows up when the screen is very small) */
  border-bottom: 0.1em solid #CCC;
  margin-bottom:2em;
  padding-bottom:2em;
}

/* Interactive Elements */

/* Styling for the text fields and labels in forms */

.textfield-label {
  display: block;
  font-wieght:bold;
  color:#0DB3BC;
  font-size: 1.25rem;
}

.textfield {
  border-style: solid;
  border-width: 0.125em;
  border-color:999;
  padding-left: 0.25em;
  width:100%;
  margin-bottom: 1em;
  display: block;
  font-size: 1rem;
}

textarea { /* Ensure that the textarea is big enough and that it doesn't somehow expand beyond the bounds of the screen */
  max-width:100%;
  min-height:12em;
}

footer p {
  margin-top:1em;
  text-align:center;
}


/* checkout elements */

#cart h1 {
  border-bottom: 1px solid #777;
}

#cart figure {
  background-color: white;
  display: inline-block;
  float: left;
  padding: 10px;
  min-width: 170px;
  max-width: 220px;
  margin: 0;
  margin-right: 20px;

}

.cart-item {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  background-color: #e1e1e1;
  margin-bottom: 1em;
  padding: 20px;
}

#cart-total {
  background-color:#f1f1f1;
  padding: 20px;
  margin-bottom: 1em;
}

#cart-total li {
  list-style: none;
  border-bottom: 1px solid #a4a4a4;
  padding-bottom: 10px;
}

#cart-total li:last-child {
  border-bottom: none;
}

.price {
  margin: 0;
  font-size: 2em;
  text-align: right;
}




/* Media Queries */ 

@media (min-width:50em) { /* Media queries which take place once the screen is 50em or larger */

  .grid-container { /* Regular grids used for layout grids (flexbox reserved for other kinds of scaling info) */
    margin-left:-1em;
    margin-right:-1em;
  }

  .col-1of3 {
    width:33.33%; /* At a certain screen size, make the columns 33% and 66% */
  }

  .col-2of3 {
    width:66.66%;
  }

  .col-1of2 {
    width:50%;
  }

  [class*='col-'] { /* Remove outside margins */
    padding:0 1em;
    float:left;
  }

  .more-below-small {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.boxed{
  border: 2.5rem solid black;
  text-align:center;
}

.product-listing:hover{ 
  -webkit-box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.75);
}

/* ----------------------OLD CODE----------------------  */


section:not([id]) {
  margin: 1em 0;
  padding: 1em 0;
  border-bottom: .25em solid #fff;
}



section h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #34495e;
}

section h3 {
  margin-bottom: 0;
  color: #2c3e50;
}

section h4 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1em;
}

section h5 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1em;
}

section h6 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1em;

}

section p {
  margin-top: 1em;
  margin-bottom: .5em;
}

nav {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 0.15em solid #fff;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

section code {
  background-color: #595959;
  padding: 0.5em 0.75em;
  display: block;
}

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  position: relative;
  text-decoration: none;
  text-align: center;
  letter-spacing: 3px;
  display: inline-block;
  padding: 10px 20px;
  width: 100%;
  outline: 0 !important;
  font-size: 1.5em;
  background-color: #E3A647;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover {
  opacity: 0.4;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
}

.button-nav2 {
  position: relative;
  display: inline-block;
  border: none;
  padding: 10px 20px;
  height: 40px;
  outline: 0 !important;
  font-size: 1em;
  color: #000;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none; /
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav2:hover {
  opacity: 0.4;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
}


.in-text-link, .in-text-link:visited, .in-text-link:active {
    color: #FC5968;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: none;
    margin-bottom: 0;
}

.in-text-link:hover {
    border-bottom: 1px solid #FC5968;
    margin-bottom: -0.25rem;
    text-decoration: none;
}


.button-signin, .button-signin:visited, .button-signin:active{
    display: inline-block;
    background-color: #FC5968;
    color: #FFFFFF;
    padding: 0.5em 2em;
    text-decoration: none;
    font-size: 1.45rem;
    border-radius: 0.50em;
}

.button-signin:hover {
    background-color: #B01E22;
}


.button-cancel, .button-cancel:visited, .button-cancel:active {
    display: inline-block;      
    color: #FFFFFF;
    padding: 0.5em 2em;
    text-decoration: none;      /* no underline */
    font-size: 1.45rem;
    border-radius: 0.25em;
}

.button-cancel:hover {
  opacity: 0.4;
  
}

/*form    {  -------------------ADDED NEW ONE ABOVE
  margin:0px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

input    {
  width:375px;
  height: 29px;
  display:inline-block;
  border: 1px solid #fff;
  background-color: #A8DEDC;
  color: #fff;
  margin: 1em;

}
*/


.input-wrapper {

  margin: 1em 0 1em 0 ; 
  text-transform: lowercase;
  font-size: 1.25rem;
}

textarea:focus, input:focus{
    outline: 0;
}


/* 
  TEXT ELEMENTS -------------------
*/
/* Styling for paragraph text */

.body-text{
    font-size: 1.5rem;
    line-height: 120%;
}
/* Styling for bulleted and ordered lists - not for all unordered lists or ordered lists,
 * respectively */
.bulleted-list, .numbered-list {
    
    font-size: 1.5rem;
}
/* Colour Paltte*/
.greyColour {
  padding: 38px 0;
  text-align: center;
  width: 200px;
  height: 60px;
}






/* 
  COMBINED ELEMENTS -------------------
*/
/* Navigation Menu */
/* toggle button hidden on larger screens*/

.nav-toggle {
  display: none;
}

.button-nav {
    border: 1px solid #8e8e8e;
}

/* navbar */

 #nav-header {
    width: 100%;
    padding: 1.5em 2em;
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
  }


#nav-header ul {
   display: inline-block;
}

#nav-header li {
  display: inline-block;
  margin: 0 1em;
  padding: 10px;
  float: left;
  list-style: none;
}

/* no right margin on last nav list item to prevent searchbar from moving to next line  */
#nav-header li:last-child {
  margin-right: 0px;
}

#nav-header a {
  color: #000;
  text-decoration: none;
  transition: color linear 0.15s;
}

#nav-header a:hover {
  opacity: 0.8;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
}

.logo {
  font-size: 2em;
}

#logo-container {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/* searchbar */

.search-form {
  width: 20%;
  margin: 1em;
  display: inline-block;
}

.search-form input {
  width: 100%;
  background-color: #fff;
  color: #2d2d2d;
  font-family: "Open Sans", sans-serif;
  font-size: .75em;
  padding: 6px 15px 6px 30px;
  margin: 3px;
  float: left;
  border: 1px solid #2d2d2d;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.search-form input:focus {
  outline: none;
  border-color: #E62739;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

/*media queries*/
@media screen and (max-width: 1032px) {
  #nav-header {
      position: relative;
      display: inline-block;
  }
  .button-nav, .button-nav2 {
      text-align: center;
      width: 100%;
      padding: 8px 0;
      border: 1px solid black;
  }
  
  #nav-header ul, #nav-header:active ul {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    padding: 0;
    left: 1.5em;
    top: 5em;
    width: 30%;
    background-color: #fff;
    
    transition: all 0.5s ease 0s, visibility 0s linear 1s;
  }
  /* make menu visible when hover */
  #nav-header:hover ul {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    display: block;
  }
  
  #nav-header ul li:hover {
    background-color: #D75555;
    transition: 0.5s;
  }
  
  #nav-header ul li:hover > a {
    color: #fff;
  }
  
  
  .nav-toggle {
    display: inline-block;
    margin: 1em;
    padding: 10px;
    float: left;
    border: 1px solid #000;
  }
  





